# Default ignored files
/../../../../:WebstormProjects/MD3-Test/.idea/shelf/
/../../../../:WebstormProjects/MD3-Test/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../:WebstormProjects/MD3-Test/.idea/httpRequests/
